In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
# import url
# turn to soup object

URL = "https://en.wikipedia.org/wiki/List_of_Eurovision_Song_Contest_entries_(1956%E2%80%932003)"
page = requests.get(URL)

soup = BeautifulSoup(page.content , "html.parser")

In [2]:
result = soup.find(id = "mw-content-text") #table location

tables = result.find_all("table", class_ = "wikitable plainrowheaders") #iter trhough tables

In [3]:
for i,table in enumerate(tables): #runs on each table
    # year of the table: 1975->i=19
    year = [int(s) for s in table.find("a").text.split() if s.isdigit()]
    year = int("".join([str(integer) for integer in year]))
    
    if i<19: continue
    print(year, i)

    df=pd.read_html(str(table)) #magic fuck you shler
    # convert list to dataframe
    df=pd.DataFrame(df[0])
    
    #fix placing(string->float, removed special characters):
    df["Placing"]= df["Placing"].apply(lambda x: x.split()[0]) 
    df['Placing'] = pd.to_numeric(df["Placing"], errors= 'coerce')
    df = df.sort_values("Country",ascending=True) #sort each year by the counter Alphabet

    df['Year'] = year #add year to the dataframe
    #table Merging into data frame
    if i==19:
        df_main = df.copy()
    if i>19:
        df_main = df_main.append(df)
    

    
    if year == 2003: break
    

df_main.tail(50)

1975 19
1976 20
1977 21
1978 22
1979 23
1980 24
1981 25
1982 26
1983 27
1984 28
1985 29
1986 30
1987 31
1988 32
1989 33
1990 34
1991 35
1992 36
1993 37
1994 38
1995 39
1996 40
1997 41
1998 42
1999 43
2000 44
2001 45
2002 46
2003 47

,#,R/O,Country,#.1,Artist,Song,Language,Songwriter(s),Placing,Year
2,870,3,Austria,39,Manuel Ortega,"""Say a Word""",English,Alexander KahrRobert Pflugler,18,2002
15,883,16,Belgium,44,Sergio and the Ladies,"""Sister""",English,Marc PaelinckDirk Paelinck,13,2002
14,882,15,Bosnia and Herzegovina,8,Maja Tatić,"""Na jastuku za dvoje"" (На јастуку за двоје)","Serbian, English",Dragan MijatovićRužica ČavićStevo Cvikić,13,2002
5,873,6,Croatia,10,Vesna Pisarović,"""Everything I Want""",English,Milana Vlaović,11,2002
0,868,1,Cyprus,20,One,"""Gimme""",English,George Theofanous,6,2002
13,881,14,Denmark,32,Malene,"""Tell Me Who You Are""",English,Michael Ronson,24,2002
7,875,8,Estonia,8,Sahlene,"""Runaway""",English,Pearu PaulusIlmar LaisaarAlar KotkasJana Hallas,3,2002
12,880,13,Finland,37,Laura,"""Addicted to You""",English,Maki KolehmainenJanina FrostellTracy Lipp,20,2002
16,884,17,France,45,Sandrine François,"""Il faut du temps""",French,Rick AllisonPatrick BruelMarie-Florence Gros,5,2002
17,885,18,Germany,46,Corinna May,"""I Can't Live Without Music""",English,Ralph SiegelBernd Meinunger,21,2002
3,871,4,Greece,23,Michalis Rakintzis,"""S.A.G.A.P.O.""",English[q],Michalis Rakintzis,17,2002
9,877,10,Israel,25,Sarit Hadad,"""Light a Candle""","Hebrew, English",Svika PickYoav Ginai,12,2002
22,890,23,Latvia,3,Marie N,"""I Wanna""",English,Marija NaumovaMarats Samauskis,1,2002
23,891,24,Lithuania,4,Aivaras,"""Happy You""",English,Aivaras Stepukonis,23,2002
8,876,9,Macedonia,3,Karolina,"""Od nas zavisi"" (Од нас зависи)",Macedonian,Nikola PerevskiVladimir Krstevski,19,2002
19,887,20,Malta,15,Ira Losco,"""7th Wonder""",English,Philip VellaGerard James Borg,2,2002
20,888,21,Romania,4,Monica Anghel and Marcel Pavel,"""Tell Me Why""",English,Ionel TudorMirela Fugaru,9,2002
6,874,7,Russia,6,Prime Minister,"""Northern Girl""",English,Kim BreitburgKaren KavaleryanYevgeny Fridlyand...,10,2002
21,889,22,Slovenia,8,Sestre,"""Samo ljubezen""",Slovene,Robert PešutBarbara Pešut,13,2002
4,872,5,Spain,42,Rosa,"""Europe's Living a Celebration""",Spanish,Toni TenXasqui Ten,7,2002
11,879,12,Sweden,42,Afro-dite,"""Never Let It Go""",English,Marcos Ubeda,8,2002
10,878,11,Switzerland,44,Francine Jordi,"""Dans le jardin de mon âme""",French,Francine Lehmann,22,2002
18,886,19,Turkey,24,Buket Bengisu and Group Safir,"""Leylaklar Soldu Kalbinde""","Turkish, English",Fani HodaraSami HodaraFigen Çakmak,16,2002
1,869,2,United Kingdom,45,Jessica Garlick,"""Come Back""",English,Martyn Baylay,3,2002
1,893,2,Austria,40,Alf Poier,"""Weil der Mensch zählt""",Styrian,Alf Poier,6,2003
21,913,22,Belgium,45,Urban Trad,"""Sanomi""",Imaginary,Yves Barbieux,2,2003
5,897,6,Bosnia and Herzegovina,9,Mija Martina,"""Ne brini""","Croatian, English",Ines PrajoArjana Kunštek,16,2003
7,899,8,Croatia,11,Claudia Beni,"""Više nisam tvoja""","Croatian, English",Andrej Babić,15,2003
8,900,9,Cyprus,21,Stelios Constantas,"""Feeling Alive""",English,Stelios Constantas,20,2003
22,914,23,Estonia,9,Ruffus,"""Eighties Coming Back""",English,Vaiko Eplik,21,2003
18,910,19,France,46,Louisa Baïleche,"""Monts et merveilles""",French,Hocine Hallaf,18,2003
9,901,10,Germany,47,Lou,"""Let's Get Happy""",English,Ralph SiegelBernd Meinunger,11,2003
16,908,17,Greece,24,Mando,"""Never Let You Go""",English,MandoTeri Siganos,17,2003
0,892,1,Iceland,16,Birgitta,"""Open Your Heart""",English,Hallgrímur ÓskarssonSveinbjörn I. BaldvinssonB...,8,2003
2,894,3,Ireland,37,Mickey Harte,"""We've Got the World""",English,Keith MolloyMartin Brannigan,11,2003
12,904,13,Israel,26,Lior Narkis,"""Words for Love""",Hebrew[b][c][e][q],Yoni Ro'ehYossi Gispan,19,2003
20,912,21,Latvia,4,F.L.Y.,"""Hello from Mars""",English,Mārtiņš FreimanisLauris Reiniks,24,2003
4,896,5,Malta,16,Lynn Chircop,"""To Dream Again""",English,Alfred ZammitCynthia Sammut,25,2003
13,905,14,Netherlands,44,Esther Hart,"""One More Night""",English,Tjeerd van ZanenAlan Michael,13,2003
17,909,18,Norway,42,Jostein Hasselgård,"""I'm Not Afraid to Move On""",English,Arve FursetVJ Strøm,4,2003
19,911,20,Poland,8,Ich Troje,"""Keine Grenzen – Żadnych granic""","German, Polish, Russian",André FrankeJoachim Horn-BerngesMichał Wiśniew...,7,2003
6,898,7,Portugal,37,Rita Guerra,"""Deixa-me sonhar""","Portuguese, English",Paulo Martins,22,2003
23,915,24,Romania,5,Nicola,"""Don't Break My Heart""",English,Mihai AlexandruNicoleta Alexandru,10,2003
10,902,11,Russia,7,t.A.T.u.,"""Ne ver', ne boysia"" (Не верь, не бойся)",Russian,Mars LasarValery Polienko,3,2003
25,917,26,Slovenia,9,Karmen,"""Nanana""",English,Martin ŠtibernikKarmen Stavec,23,2003
11,903,12,Spain,43,Beth,"""Dime""",Spanish,Jesús María PérezAmaya Martínez,8,2003
24,916,25,Sweden,43,Fame,"""Give Me Your Love""",English,Calle KindbomCarl Lösnitz,5,2003
3,895,4,Turkey,25,Sertab Erener,"""Everyway That I Can""",English,Sertab ErenerDemir Demirkan,1,2003
15,907,16,Ukraine,1,Olexandr,"""Hasta la Vista""",English,Svika PickMirit Shem Or,14,2003
14,906,15,United Kingdom,46,Jemini,"""Cry Baby""",English,Martin Isherwood,26,2003

In [4]:
#extract how many songwriters for each song:
counter = 1 #default:1
songwriters=[]
for row in df_main['Songwriter(s)']: #big brain idea
    for i,letter in enumerate(row):
        if i>1:
            if letter.isupper() and row[i-1].islower() : counter += 1
        
    songwriters.append(counter)
    counter=1

print(songwriters) #check
df_main['Number of Songwriter(s)'] = songwriters #add to dataframe
df_main

[1, 3, 2, 2, 2, 2, 2, 3, 2, 2, 3, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 3, 2, 2, 2, 1, 2, 3, 3, 3, 1, 2, 2, 1, 1, 3, 2, 4, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 1, 2, 1, 2, 3, 1, 4, 2, 2, 2, 2, 1, 2, 3, 3, 4, 3, 1, 2, 2, 1, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 5, 1, 4, 3, 2, 1, 1, 2, 1, 1, 1, 3, 2, 2, 3, 2, 2, 1, 1, 4, 2, 4, 2, 1, 1, 1, 2, 2, 2, 1, 3, 2, 2, 2, 2, 2, 2, 2, 3, 3, 2, 1, 1, 1, 2, 2, 1, 2, 1, 2, 4, 1, 1, 2, 2, 1, 2, 2, 2, 2, 3, 2, 2, 2, 2, 1, 2, 3, 2, 1, 3, 2, 2, 2, 3, 2, 3, 2, 2, 3, 1, 2, 2, 3, 2, 3, 2, 2, 2, 1, 2, 2, 2, 2, 1, 3, 3, 2, 2, 1, 2, 2, 1, 2, 2, 2, 3, 2, 1, 2, 2, 1, 1, 2, 1, 2, 3, 3, 1, 3, 1, 2, 2, 3, 2, 2, 3, 2, 1, 1, 3, 1, 1, 1, 2, 3, 2, 1, 3, 1, 1, 2, 2, 2, 1, 2, 3, 2, 2, 2, 2, 2, 2, 1, 1, 1, 3, 2, 1, 2, 2, 3, 2, 1, 1, 1, 2, 3, 3, 2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 3, 1, 2, 2, 1, 2, 2, 2, 3, 2, 3, 1, 1, 1, 3, 4, 6, 2, 2, 1, 3, 1, 1, 2, 2, 3, 1, 2, 3, 4, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 4, 3, 1, 1, 1, 1, 2, 3, 4, 2, 1, 2, 2, 2, 1, 1, 1, 1, 2, 3, 2, 3, 3, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 1, 3, 1, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 3, 2, 3, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 1, 3, 1, 2, 1, 3, 1, 3, 2, 1, 2, 2, 1, 2, 3, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 3, 2, 4, 2, 3, 3, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 1, 3, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 1, 4, 2, 1, 3, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 3, 2, 3, 2, 4, 1, 2, 2, 1, 2, 2, 2, 2, 3, 2, 1, 2, 2, 2, 2, 3, 2, 2, 3, 1, 4, 1, 2, 2, 1, 4, 4, 2, 3, 1, 4, 2, 2, 2, 2, 2, 2, 2, 4, 3, 2, 1, 1, 1, 3, 2, 1, 4, 2, 2, 1, 2, 2, 3, 1, 3, 2, 2, 2, 1, 2, 1, 3, 2, 3, 2, 1, 2, 3, 2, 1, 3, 2, 2, 1, 2, 2, 3, 2, 2, 3, 2, 1, 1, 2, 1, 2, 3, 2, 2, 2, 3, 1, 1, 1, 4, 3, 3, 2, 1, 2, 2, 1, 2, 2, 2, 4, 2, 2, 1, 1, 3, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 3, 2, 2, 2, 2, 2, 2, 4, 1, 2, 2, 2, 2, 2, 2, 2, 1]

,#,R/O,Country,#.1,Artist,Song,Language,Songwriter(s),Placing,Year,Number of Songwriter(s)
10,301,11,Belgium,20,Ann Christy,"""Gelukkig zijn""","Dutch, English",Mary Boduin,15,1975,1
14,305,15,Finland,14,Pihasoittajat,"""Old Man Fiddle""",English,Kim KuusiHannu KarlssonArthur Ridgway Spencer,7,1975,3
2,293,3,France,19,Nicole Rieu,"""Et bonjour à toi l'artiste""",French,Pierre DelanoëJeff Barnel,4,1975,2
3,294,4,Germany,20,Joy Fleming,"""Ein Lied kann eine Brücke sein""","German, English",Rainer PietschMichael Holm,17,1975,2
1,292,2,Ireland,11,The Swarbriggs,"""That's What Friends Are For""",English,Jimmy SwarbriggTommy Swarbrigg,9,1975,2
...,...,...,...,...,...,...,...,...,...,...,...
11,903,12,Spain,43,Beth,"""Dime""",Spanish,Jesús María PérezAmaya Martínez,8,2003,2
24,916,25,Sweden,43,Fame,"""Give Me Your Love""",English,Calle KindbomCarl Lösnitz,5,2003,2
3,895,4,Turkey,25,Sertab Erener,"""Everyway That I Can""",English,Sertab ErenerDemir Demirkan,1,2003,2
15,907,16,Ukraine,1,Olexandr,"""Hasta la Vista""",English,Svika PickMirit Shem Or,14,2003,2
14,906,15,United Kingdom,46,Jemini,"""Cry Baby""",English,Martin Isherwood,26,2003,1

In [5]:
#extract how many languages for each song:
counter = 1 #default :1
languages=[]
for row in df_main['Language']: #another big brain idea
    for letter in  row:
        if letter ==',' : counter += 1
        
    languages.append(counter)
    counter=1

print(languages)        
df_main['Number of Languages'] = languages #add to data frame
df_main

[2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1]

,#,R/O,Country,#.1,Artist,Song,Language,Songwriter(s),Placing,Year,Number of Songwriter(s),Number of Languages
10,301,11,Belgium,20,Ann Christy,"""Gelukkig zijn""","Dutch, English",Mary Boduin,15,1975,1,2
14,305,15,Finland,14,Pihasoittajat,"""Old Man Fiddle""",English,Kim KuusiHannu KarlssonArthur Ridgway Spencer,7,1975,3,1
2,293,3,France,19,Nicole Rieu,"""Et bonjour à toi l'artiste""",French,Pierre DelanoëJeff Barnel,4,1975,2,1
3,294,4,Germany,20,Joy Fleming,"""Ein Lied kann eine Brücke sein""","German, English",Rainer PietschMichael Holm,17,1975,2,2
1,292,2,Ireland,11,The Swarbriggs,"""That's What Friends Are For""",English,Jimmy SwarbriggTommy Swarbrigg,9,1975,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11,903,12,Spain,43,Beth,"""Dime""",Spanish,Jesús María PérezAmaya Martínez,8,2003,2,1
24,916,25,Sweden,43,Fame,"""Give Me Your Love""",English,Calle KindbomCarl Lösnitz,5,2003,2,1
3,895,4,Turkey,25,Sertab Erener,"""Everyway That I Can""",English,Sertab ErenerDemir Demirkan,1,2003,2,1
15,907,16,Ukraine,1,Olexandr,"""Hasta la Vista""",English,Svika PickMirit Shem Or,14,2003,2,1
14,906,15,United Kingdom,46,Jemini,"""Cry Baby""",English,Martin Isherwood,26,2003,1,1

In [6]:
#using only relevant columns
final_df = df_main[['R/O','Placing', 'Language', 'Songwriter(s)', 'Number of Languages','Number of Songwriter(s)', 'Year']].copy()
final_df

,R/O,Placing,Language,Songwriter(s),Number of Languages,Number of Songwriter(s),Year
10,11,15,"Dutch, English",Mary Boduin,2,1,1975
14,15,7,English,Kim KuusiHannu KarlssonArthur Ridgway Spencer,1,3,1975
2,3,4,French,Pierre DelanoëJeff Barnel,1,2,1975
3,4,17,"German, English",Rainer PietschMichael Holm,2,2,1975
1,2,9,English,Jimmy SwarbriggTommy Swarbrigg,1,2,1975
...,...,...,...,...,...,...,...
11,12,8,Spanish,Jesús María PérezAmaya Martínez,1,2,2003
24,25,5,English,Calle KindbomCarl Lösnitz,1,2,2003
3,4,1,English,Sertab ErenerDemir Demirkan,1,2,2003
15,16,14,English,Svika PickMirit Shem Or,1,2,2003
14,15,26,English,Martin Isherwood,1,1,2003

In [7]:
#Bool, Song in English? 1:0
english=[]
for row in final_df["Language"]:
    # print(row, type(row))
    if 'English' in row : english.append(1)
    else : english.append(0)

print(english, len(english))

final_df["English"] = english

final_df

[1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1] 627

,R/O,Placing,Language,Songwriter(s),Number of Languages,Number of Songwriter(s),Year,English
10,11,15,"Dutch, English",Mary Boduin,2,1,1975,1
14,15,7,English,Kim KuusiHannu KarlssonArthur Ridgway Spencer,1,3,1975,1
2,3,4,French,Pierre DelanoëJeff Barnel,1,2,1975,0
3,4,17,"German, English",Rainer PietschMichael Holm,2,2,1975,1
1,2,9,English,Jimmy SwarbriggTommy Swarbrigg,1,2,1975,1
...,...,...,...,...,...,...,...,...
11,12,8,Spanish,Jesús María PérezAmaya Martínez,1,2,2003,0
24,25,5,English,Calle KindbomCarl Lösnitz,1,2,2003,1
3,4,1,English,Sertab ErenerDemir Demirkan,1,2,2003,1
15,16,14,English,Svika PickMirit Shem Or,1,2,2003,1
14,15,26,English,Martin Isherwood,1,1,2003,1

In [8]:
#export Df to CSV file
final_df.to_csv('1975-2003.csv', index= False)

In [9]:
#Dataframe merging
new_df0 = pd.read_csv('1975-2003.csv')
new_df1 = pd.read_csv('2004.csv')

new_df0.rename({"R/O":"R/O F"}, axis= 1, inplace=True)
new_df1

new_final = pd.concat([new_df0,new_df1])
new_final

,R/O F,Placing,Language,Songwriter(s),Number of Languages,Number of Songwriter(s),Year,English,R/O SF
0,11.0,15.0,"Dutch, English",Mary Boduin,2,1,1975,1,NaN
1,15.0,7.0,English,Kim KuusiHannu KarlssonArthur Ridgway Spencer,1,3,1975,1,NaN
2,3.0,4.0,French,Pierre DelanoëJeff Barnel,1,2,1975,0,NaN
3,4.0,17.0,"German, English",Rainer PietschMichael Holm,2,2,1975,1,NaN
4,2.0,9.0,English,Jimmy SwarbriggTommy Swarbrigg,1,2,1975,1,NaN
...,...,...,...,...,...,...,...,...,...
681,13.0,24.0,Spanish,Blas CantóLeroy SanchezDangelo OrtegaDan Hammond,1,4,2021,0,NaN
682,25.0,14.0,English,"Joy DebLinnea DebJimmy ""Joker"" ThörnfeldtAnder...",1,4,2021,1,4.0
683,11.0,3.0,French,Gjon MuharremajWouter HardyNina SampermansXavi...,1,4,2021,0,16.0
684,19.0,5.0,Ukrainian,Taras ShevchenkoKateryna Pavlenko,1,2,2021,0,15.0
685,9.0,26.0,English,James NewmanConor BlakeDanny ShahTom HollingsS...,1,5,2021,1,NaN

In [10]:
#Aesthetics
new_final = new_final[['R/O F','R/O SF','Placing', 'Language', 'Songwriter(s)', 'Number of Languages','Number of Songwriter(s)', 'Year']]
new_final

,R/O F,R/O SF,Placing,Language,Songwriter(s),Number of Languages,Number of Songwriter(s),Year
0,11.0,NaN,15.0,"Dutch, English",Mary Boduin,2,1,1975
1,15.0,NaN,7.0,English,Kim KuusiHannu KarlssonArthur Ridgway Spencer,1,3,1975
2,3.0,NaN,4.0,French,Pierre DelanoëJeff Barnel,1,2,1975
3,4.0,NaN,17.0,"German, English",Rainer PietschMichael Holm,2,2,1975
4,2.0,NaN,9.0,English,Jimmy SwarbriggTommy Swarbrigg,1,2,1975
...,...,...,...,...,...,...,...,...
681,13.0,NaN,24.0,Spanish,Blas CantóLeroy SanchezDangelo OrtegaDan Hammond,1,4,2021
682,25.0,4.0,14.0,English,"Joy DebLinnea DebJimmy ""Joker"" ThörnfeldtAnder...",1,4,2021
683,11.0,16.0,3.0,French,Gjon MuharremajWouter HardyNina SampermansXavi...,1,4,2021
684,19.0,15.0,5.0,Ukrainian,Taras ShevchenkoKateryna Pavlenko,1,2,2021
685,9.0,NaN,26.0,English,James NewmanConor BlakeDanny ShahTom HollingsS...,1,5,2021

In [11]:
#final dataframe export to CSV to be merged with crawler dataframe
new_final.to_csv('WikiVision 1975-2021.csv', index =False)